<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Ocp Directory Code and Style Ruleset" Description="Ocp Directory Code and Style Ruleset" ToolsVersion="15.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Include Path="extendedcorrectnessrules.ruleset" Action="Default" />
  <Include Path="extendeddesignguidelinerules.ruleset" Action="Default" />
  <Include Path="managedminimumrules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Include Path="securityrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1027" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1402" Action="Warning" />
    <Rule Id="SA1403" Action="Warning" />
    <Rule Id="SA1507" Action="None" />
    <Rule Id="SA1633" Action="Warning" />
    <Rule Id="SA1648" Action="Warning" />
    <Rule Id="SA1652" Action="Warning" />
    <Rule Id="SX1101" Action="Warning" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1309" Action="None" />
  </Rules>
</RuleSet>